{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <style>
        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2;}

        tr:hover {background-color: #ddd;}

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #fd9644;
            color: white;
        }
    </style>
    <div class="container mt-5">
        <div class="row">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    {% if ( label == 'success' ) %}
                        <div class="alert alert-success alert-dismissible fade show">
                            {{ flash }}
                        </div>
                    {% elseif ( label == 'error' ) %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            {{ flash }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="row">
            <h1>All Contacts</h1>
        </div>

        <div class="row">
            <a href="{{ path('contact_new') }}">
                <div class="btn btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </a>

{#            <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="">#}
{#                <div class="input-group ml-4">#}
{#                    <input type="text" class="form-control" placeholder="Search" name ="search">#}
{#                    <button type="submit" class="btn btn-dark">#}
{#                        <span class="fa fa-search"></span>#}
{#                    </button>#}
{#                </div>#}
{#            </form>#}

{#            <form>#}
{#                <div class="input-group mb-3 ml-4">#}
{#                        <input type="text" name="q" class="form-control" placeholder="Search...">#}
{#                    <div class="input-group-append">#}
{#                        <button type="submit" class="btn btn-dark">#}
{#                            <span class="fa fa-search"></span>#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}

{#            <form class="form-inline ml-lg-4">#}
{#                <input class="form-control mr-sm-2" type="text" placeholder="Search">#}
{#                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>#}
{#            </form>#}
        </div>

        <div class="row mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align:center">Id</th>
                        <th style="text-align:center">First Name</th>
                        <th style="text-align:center">Last Name</th>
                        <th style="text-align:center">Email</th>
                        <th style="text-align:center">Phone Number</th>
                        <th style="text-align:center">Company</th>
                        <th style="text-align:center">Office</th>
                        <th style="text-align:center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td style="text-align:center">{{ contact.id }}</td>
                        <td style="text-align:center">{{ contact.firstName }}</td>
                        <td style="text-align:center">{{ contact.lastName }}</td>
                        <td style="text-align:center">{{ contact.email }}</td>
                        <td style="text-align:center">{{ contact.phoneNumber }}</td>
                        <td style="text-align:center">{{ contact.company }}</td>
                        <td style="text-align:center">{{ contact.office }}</td>
                        <td style="text-align:center">

                        <div class="container col-10">
                             <div class="row">
                                 <a href="{{ path('contact_show', {'id': contact.id}) }}">
                                 <button class="btn btn-primary ml-2">
                                         <i class="fa fa-eye" aria-hidden="true"></i>
                                 </button>
                                 </a>
                                 <a href="{{ path('contact_edit', {'id': contact.id}) }}">
                                 <button class="btn btn-info ml-2">
                                         <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                 </button>
                                 </a>
                                 <form method="post" action="{{ path('contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                     <button class="btn btn-danger ml-2">
                                         <input type="hidden" name="_method" value="DELETE">
                                         <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
                                         <i class="fa fa-trash" aria-hidden="true"></i>
                                     </button>
                                 </form>
                             </div>
                        </div>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">No contacts found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>

    </div>
{% endblock %}
