<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome To Contact Application{% endblock %}</title>
{#        <link rel="stylesheet" href="https://use.fontawsome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">#}
        <script src="https://use.fontawesome.com/5184289d36.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('contact_index') }}">DGSSI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('contact_index') }}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('contact_new') }}">New Contact</a>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                                {{ app.user.firstName }} {{ app.user.lastName }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                                <a href="{{ path('contact_new') }}" class="dropdown-item">Create Contact</a>
                                <div class="dropdown-divider"></div>
                                <a href="{{ path('account_index') }}" class="dropdown-item">My account</a>
                                <a href="{{ path('account_profile') }}" class="dropdown-item">Edit my profile</a>
                                <div class="dropdown-divider"></div>
                                    <a href="{{ path('account_logout') }}" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path('account_register') }}" class="nav-link">SignUp</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('account_login') }}" class="nav-link">SignIn</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block body %}{% endblock %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>